@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --heading-text-color: #2c3e50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sectionHeading h1{
    text-align: center;
    margin: 20px auto;
}
html{
    scroll-behavior: smooth;
}

/* Top Bar */
#topbar{
    background-color: #222f3e;
    padding: 5px 50px;
    overflow: auto;
}
#social-icon{
    float: right;
}
#tollfree{
    float: left;
    color: white;
    margin: 0;
    margin-top: 5px;
}
.fab{
    background-color: white;
    color: gray;
    padding: 7px;
    border-radius: 50%;
}
.fa-facebook{
    padding:7px 7px;
}
.fa-whatsapp{
    padding: 6px 7px;
}
.fa-instagram{
    padding: 6px 7px;
}

/* Logo bar  */

#logobar{
    /* border: 1px solid red; */
    /* background-color: #34495e; */
    padding: 10px;
    margin-left: 30px;
}
#logobar h1{
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

/* nav bar  */
.navbar{
    display:flex;
    justify-content: space-between;
    background-color: #2c3e50;
    padding: 0 15px;
}
.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar ul li{
    display: inline-block;
    padding: 20px 0;
    padding-right: 35px;
    
}
.navbar ul li:nth-last-child(){
    padding: 0;
}


.navbar ul li a{
    color: #dfe4ea;
    text-decoration: none;
    font-size: 1rem;
}
.navbar ul li a:hover{
    color: #ced6e0;
}

.navbar.sticky{
    position: fixed;
    margin-top: -40px;
    width: 100%;
    transform: 0.5s;
    transition: 0.5s;
}

/* ------------
    poster
---------------  */
#poster{
    background-image: url(../images/pexels-burst-374870.jpg);
    height: 500px;
    padding: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#poster h1{
    font-size: 3rem;
    text-shadow:black 5px 5px 10px;
    color: white;
}
#poster p{
    color: white;
    font-size: 1.2rem;
    text-shadow: black 5px 5px 8px;
    text-align: center;
}

/* -------Why-us and blog section--------  */
#whysection, #blog{
    padding: 40px;
    /* border: 2px solid red; */
}
.whyContentBx, .blogContentBx{
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.whyChild, .blogChild{
    /* border: 1px solid; */
    flex-grow: 1;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

    border-radius: 5px;

}
.whyChild p, .blogChild p{
    text-align: justify;
}
.whyChild h2, .blogChild h2{
    font-weight: 500;
}
.whyChild img, .blogChild img{
    height: 150px;
    width: 150px;
}

/* ----Contact section----  */
#contact{
    /* border: 1px solid red; */
    padding: 50px;
    color: white;
    background-color: #2c3e50;  
}
.contactContentBx{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;  
}
.contactDescription , .contactBtn{
    margin: 0 10px;
    text-align: justify;
}
.contactDescription{
    /* border: 1px solid red; */
}
.contactBtn{
    /* border: 1px solid red; */
    flex-grow: 1;
    min-width: 160px;
}
.contactBtn input[type="submit"]{
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    color: #2c3e50;
    background-color: white;
    border-radius: 2px;
    border: 2px solid #fff;
    padding: 10px 20px;
}
.contactBtn input[type="submit"]:hover{
    color: #fff;
    background-color: #34495e;

}



/* -----Blog section------  */
.blogChild a{
    text-decoration: none;
}



/* -----Subscribe section------  */

#subscribe{
    background-color: #34495e;
    color: white;
    padding: 50px;
}
.subscribeContentBx{
    display: flex;
    
}
.subscribeChild{
    /* border: 1px solid red; */
    width: 100%;

}

.subscribeChild:nth-child(2){
    display: flex;
    /* border: 1px solid red; */
    justify-content: flex-end;
    
}

.subscribeChild input{
    padding: 10px 40px;
    outline: none;
}
.subscribeChild input[type="submit"]{
    /* border: 1px solid red; */
    width: 150px;
    padding: 8px 35px; 
   font-size: 15px;
   color: #34495e;
   background-color: #fff;
   border: 1px solid #fff;
   cursor: pointer;
}
.subscribeChild input[type="text"]{
    width: calc(100% - 160px); 
    border: none;
}

.subscribeChild input[type="Submit"]:hover{
    background-color: #34495e;
    border: 1px solid #fff;
    color: #fff;
}






/* ------footer-----  */
#footer{
    color: #fff;
    background-color: #2c3e50;
    padding: 50px;
}
.footerContentBx{
    display: flex;
}
.footerChild{
    width: 50%;
    justify-content: space-between;
    margin: 20px;

}

.footerChild:nth-child(2){
    display: flex;
}


#footer-menu{
    list-style-type: none;
    padding: 0;
}
#footer-menu li{
    padding: 2px 10px;
    display: block;
    width: calc(100% - 20px);
    /* border-radius: 3px; */
    cursor: pointer;
}
#footer-menu li:hover, #footer-menu li:hover a{
    color: #2c3e50;
    background-color: #95a5a6;
}
#footer-menu li a{
    text-decoration: none;
    color: white;
}

#copyright{
    text-align: center;
    background-color: #222f3e;
    color: #cbcbcb;
    padding: 10px;
}

/*----------- Responsive ----------- */


@media only screen and ( max-width : 990px ){
  /* #container{
    
  } */

  .navbar{
    position: relative;
  }

  .navUl{
    display: none;
  }

.menuToggle{
    position: relative;
    /* height: 40px; */
    width: 40px;
    background-image: url(../images/icons8-menu-rounded-50.png);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 500;
    transition: 0.5s;

}

.menuToggle.active{
    background-image: url(../images/icons8-multiply-48.png);

}

.navUl.active{
    position:absolute;
    display: flex;
    flex-direction: column;
    right: 50px;
    top: 25px;
    background-color: #34495e;
    
  }

  .navbar ul li {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    /* margin: 5px; */
  }
  .navbar ul li:hover {
    background-color: #222f3e;
  }









  .section50 input[type="Submit"]{
    padding: 9px 15px;

  }
  
  .section50 input[type="text"]{
    padding: 10px 15px;
    margin-right: 0;
    width: 60%;
  }
/* subscribe  */
  .subscribeContentBx{
        flex-direction: column;
        text-align: center;
    
    }

    .subscribeChild:nth-child(2) {
        justify-content: center;
      }

    /* footer  */

    .footerContentBx{
        flex-direction: column;
    }
    .footerChild{
        width: 100%;
    }

}

@media only screen and ( max-width : 590px ){

    /* ------ poster ------ */

    #poster h1 {
        font-size: 2rem;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        color: white;
    }

    #poster p {
        color: white;
        font-size: 1rem;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        text-align: justify;
        line-height: 1.3;
    }
    .contactContentBx{
        flex-direction: column;
    }
    .contactBtn{
        /* border: 1px solid red; */
        flex-grow: 1;
        width: 100%;

    }
    
    .contactBtn input[type="submit"]{
        margin-top: 15px;
        width: 100%;
        
    }

      
    /* ------ poster ------ */
    /* ------subscribe ------ */


}